<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
     	<link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
     	<script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
     	<script src="webjars/jquey/1.9.1/jquery.min.js"></script>
        <title>Administration</title>
    </head>
    <body>
    	<nav class="navbar navbar-inverse">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="/">Interface chat</a>
		    </div>
		    <ul class="nav navbar-nav">
		      <li class="active"><a href="/admin">Accueil</a></li>
		      <li><a href="questions">Questions</a></li>
		      <li><a href="responses">Reponses</a></li>
		      <li><a href="#">Satisfaction</a></li>
		    </ul>
		  </div>
		</nav>
        <div class="container">
		  <h3>Statistique 24H</h3>
		  <div class="col-sm-12">
		  	 <table class="table table-striped">
   			 <thead>
		      <tr>
		      	<th>Questions posées</th>
		      	<th>Reponse satisfaites</th>
		      	<th>Reponse non satistaites</th>
		      </tr>
		  	</thead>
		  	<tbody>
			 	 <tr>
			 	 	<td></td>
			      	<td></td>
			      	<td></td>
			      </tr>
			</tbody>
			</table>
			</div>
		</div>
    </body>
</html>